@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-solid-lightpurple {
  box-shadow: 7px 5px #c7b9ff;
}

.shadow-solid-black {
  box-shadow: 7px 5px #000000;
}

.shadow-solid-zinc {
  box-shadow: 7px 5px #27272a;
}
